.about__container {
  display: grid;
  gap: 2rem;
}

.about__card {
  background: whitesmoke;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
  overflow: hidden; /* Ensure the container doesn't overflow */
}

.about__card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3),
    0 0 20px 10px rgba(255, 255, 255, 0.2);
  color: var(--color-bg-variant);
  background: var(--color-light);
}

.about__icons {
  font-size: 2rem;
  margin: 0 0.5rem 1rem 0.5rem;
  color: var(--color-bg-variant);
}

.about__card h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--color-bg-variant);
}

.about__card small {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--color-bg-variant);
}

.about__card-icon {
  color:  #052c65;
}
.about__percentage {
  color:  #052c65;
}